@import "tailwindcss";
@plugin "daisyui";

@theme inline {
  --font-fontePrimaria: var(--font-kaisei);
  --color-ouroPrimaria: #B89D13;
  --color-ouroSecundaria: #9A8314;
  --color-ouroFooter: rgba(154,131,20,0.5);
  --color-letraFooter: #414141
}

:root {
  background-color: white;
}